<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Контроль доходов и расходов - Стартовая страница{%endblock%}</title>
</head>
<body>
    {%block body%}    
    <h1>Добро пожаловать!</h1>
    <h2>Сервис по контролю доходов и расходов семьи</h2>
    <P>Для начла работы <a href="{%url 'avtorization'%}">авторизуйтесь</a> или <a href="{%url 'registration'%}}">зарегестрируйте</a>  новую учетную запись</P>
    {%endblock%}
</body>
</html>